---
http_interactions:
- request:
    method: post
    uri: https://pod.spore.sh/users/incorrect/keys
    body:
      encoding: UTF-8
      string: password=fpassword
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"304-669c2ecf"
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "message": "Invalid email or password",
            "stack": "Error: Invalid email or password\n    at EventEmitter.<anonymous> (/app/controllers/users.js:36:13)\n    at EventEmitter.<anonymous> (/app/node_modules/mongoose/node_modules/mpromise/lib/promise.js:175:45)\n    at EventEmitter.emit (events.js:107:17)\n    at Promise.safeEmit (/app/node_modules/mongoose/node_modules/mpromise/lib/promise.js:81:21)\n    at Promise.fulfill (/app/node_modules/mongoose/node_modules/mpromise/lib/promise.js:94:24)\n    at Promise.resolve (/app/node_modules/mongoose/lib/promise.js:113:23)\n    at /app/node_modules/mongoose/lib/query.js:1173:16\n    at /app/node_modules/mongoose/node_modules/kareem/index.js:109:16\n    at process._tickCallback (node.js:355:11)"
          }
        }
  recorded_at: Sat, 30 May 2015 01:13:48 GMT
recorded_with: VCR 2.9.3
