---
http_interactions:
- request:
    method: post
    uri: https://pod.spore.sh/users
    body:
      encoding: UTF-8
      string: email=example+2223555%40spore.sh&password=fakepassword2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57-d7ffecec"
    body:
      encoding: UTF-8
      string: |-
        {
          "user": {
            "email": "example+2223555@spore.sh",
            "verified": false
          }
        }
  recorded_at: Sat, 30 May 2015 00:56:13 GMT
- request:
    method: post
    uri: https://pod.spore.sh/users/example+2223555@spore.sh/keys
    body:
      encoding: UTF-8
      string: password=fakepassword2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33-d97d2d21"
    body:
      encoding: UTF-8
      string: |-
        {
          "key": "66360e6c-b10d-48f5-894c-5890aa61b75d"
        }
  recorded_at: Sat, 30 May 2015 00:56:13 GMT
recorded_with: VCR 2.9.3
